* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100%;
}

.official {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}

.official .main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.official .main .cont {
  width: 100%;
}

.official .main .cont .item {
  width: 100%;
}

.official .main .cont .item p {
  width: 90%;
  margin-left: 5%;
  line-height: 20px;
  font-size: 12px;
  color: #666;
}

.official .main .cont .item ul {
  list-style: none;
  width: 100%;
  background: #fff;
}

.official .main .cont .item ul li {
  width: 90%;
  margin-left: 5%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.official .main .cont .item ul li p {
  flex: 1.5;
  height: 100%;
  display: flex;
  margin-left: 5px;
  align-items: center;
  overflow: hidden;
}

.official .main .cont .item ul li p img {
  max-width: 90%;
  max-height: 80%;
}

.official .main .cont .item ul li span {
  flex: 7.5;
  padding-left: 10px;
  display: flex;
  font-size: 13px;
  align-items: center;
  color: #333;
}

.official .rightSaid {
  width: 20px;
  background: #fff;
  position: fixed;
  right: 20px;
  top: 70px;
  list-style: none;
}

.official .rightSaid li {
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  text-align: center;
}

.official .rightSaid li.active {
  background: #ccc;
}

.car {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #f4f4f4;
}

.car .banner {
  width: 100%;
  height: 200px;
  background: #fff;
}

.car .banner .banner-tops {
  width: 100%;
  height: 140px;
  position: relative;
  overflow: hidden;
}

.car .banner .banner-tops img {
  min-width: 105%;
  max-height: 220px;
  margin-top: -40px;
}

.car .banner .banner-tops span {
  position: absolute;
  right: 10px;
  bottom: 20px;
  width: 90px;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
}

.car .banner .banner-bots {
  width: 100%;
  height: 60px;
  display: flex;
}

.car .banner .banner-bots li:nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.car .banner .banner-bots li:nth-child(1) p {
  flex: 6;
  display: flex;
  padding-left: 10px;
  align-items: flex-end;
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.car .banner .banner-bots li:nth-child(1) span {
  flex: 4;
  font-size: 10px;
  color: silver;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.car .banner .banner-bots li:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car .banner .banner-bots li:nth-child(2) p {
  width: 95%;
  height: 30px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #00afff;
  font-size: 14px;
}

.car .tab {
  width: 100%;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}

.car .tab p {
  display: inline-block;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
}

.car .tab p.active {
  color: #00afff;
}

.car .cont {
  width: 100%;
}

.car .cont .cont-item {
  width: 100%;
}

.car .cont .cont-item .tit {
  width: 100%;
  height: 20px;
  background: #f4f4f4;
  font-size: 12px;
  color: #999;
  line-height: 20px;
  padding-left: 10px;
}

.car .cont .cont-item .item {
  width: 100%;
  height: 100px;
  background: #fff;
  margin-top: 5px;
}

.car .cont .cont-item .item .tops {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
}

.car .cont .cont-item .item .tops li:nth-child(1) {
  flex: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #333;
  padding: 5px;
}

.car .cont .cont-item .item .tops li:nth-child(1) span:nth-child(1) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car .cont .cont-item .item .tops li:nth-child(1) span:nth-child(2) {
  flex: 9;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.car .cont .cont-item .item .tops li:nth-child(2) {
  flex: 1;
  font-size: 10px;
  color: silver;
  padding: 5px;
}

.car .cont .cont-item .item .tops li:nth-child(3) {
  flex: 1;
  display: flex;
}

.car .cont .cont-item .item .tops li:nth-child(3) p {
  flex: 7;
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  color: #666;
}

.car .cont .cont-item .item .tops li:nth-child(3) span {
  flex: 3;
  display: flex;
  justify-content: center;
  color: red;
  font-size: 13px;
}

.car .cont .cont-item .item .bots {
  width: 100%;
  height: 30px;
  border-top: 1px solid #f4f4f4;
}

.car .cont .cont-item .item .bots p {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #00afff;
}

.car .footer {
  width: 100%;
  height: 44px;
  background: #00afff;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.car .footer p {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
}

.car .footer span {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.dialog {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #f4f4f4;
  z-index: 999;
}

.dialog .Dialogs-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Dialog-con {
  width: 100%;
  background: #f4f4f4;
}

.Dialog-con .dialog-item {
  width: 100%;
}

.Dialog-con .dialog-item p {
  width: 95%;
  height: 25px;
  margin-left: 3%;
  font-size: 12px;
  color: #333;
}

.Dialog-con .dialog-item ul {
  width: 100%;
}

.Dialog-con .dialog-item ul li {
  width: 100%;
  height: 70px;
  border-bottom: #f4f4f4 1px solid;
  display: flex;
  background: #fff;
}

.Dialog-con .dialog-item ul li p:nth-child(1) {
  flex: 4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dialog-con .dialog-item ul li p:nth-child(1) img {
  max-width: 100%;
  max-height: 100%;
}

.Dialog-con .dialog-item ul li p:nth-child(2) {
  flex: 6;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Dialog-con .dialog-item ul li p:nth-child(2) span:nth-child(1) {
  flex: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #666;
  font-size: 15px;
}

.Dialog-con .dialog-item ul li p:nth-child(2) span:nth-child(2) {
  flex: 5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: red;
  font-size: 13px;
}

.detailImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.detailImg .detailImgCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detailImg .detailImgCont .item {
  width: 32%;
  height: 95px;
  margin-left: 1%;
}

.detailImg .detailImgCont .item img {
  max-width: 100%;
  min-height: 100%;
}

.swiperBot {
  width: 100px;
  height: 30px;
  outline: none;
  background: #00afff;
  color: #fff;
  font-size: 12px;
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
}
